.table {
    background-color: darkgreen;
    position: relative;
    width: 960px;
    height: 700px;
    margin: auto;
}

#left {
    position: absolute;
    left: 0;
    top: 40%;
}

#right {
    position: absolute;
    right: 0;
    top: 40%;
}

#top {
    position: absolute;
    top: 10px;
    left: 35%
}

#player {
    position: absolute;
    bottom: 10px;
    left: 35%;
}

#turn {
    position: absolute;
    top: 40%;
    left: 31%;
}

#turn .border {
    margin: 5px;
    padding: 5px;
    border: white solid 1px;
    border-radius: 4px;
    width: 82px;
    height: 110px;
    float: left;
}

img.turn-card {
    width: 70px;
}