.table {
    background-color: darkgreen;
    position: relative;
    width: 960px;
    height: 700px;
    margin: auto;
    max-width: 960px;
}
.deck{
    float: right;
    padding: 5px 5px;
}

.trump{
    float: left;
    padding: 5px;
}

#left {
    position: absolute;
    left: 0;
    top: 40%;
}

#right {
    position: absolute;
    right: 0;
    top: 40%;
}

#top {
    position: absolute;
    top: 10px;
    left: 35%
}

#player {
    position: absolute;
    bottom: 10px;
    left: 35%;
}

#turn {
    position: absolute;
    top: 40%;
    left: 27%;
}

#turn .border {
    margin: 5px;
    padding: 5px;
    border: white solid 1px;
    border-radius: 4px;
    width: 102px;
    height: 138px;
    float: left;
}

img.turn-card {
    width: 90px;
}

body {
    overflow:visible !important;
}

.round {
    width: 960px;
    height: 100px;
    margin: auto;
    background-color: orange;
}

#player-turn {
    font-size: 50px;
    text-align: center;
}