{% extends 'layout.html' %}

{% block head %}
<script src="{{ url_for('static', filename='game.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/game.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/cards.js') }}" type="text/javascript" defer></script>
<script src="{{ url_for('static', filename='js/cards-ko.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/anime.min.js') }}" type="text/javascript" defer></script>
{% endblock %}
<body>
{% block content %}
<div class="player">
     <div class="hand fan">
       <img class='card' src='../static/images/cards/AS.svg'>
       <img class='card' src='../static/images/cards/KS.svg'>
       <img class='card' src='../static/images/cards/QS.svg'>
       <img class='card' src='../static/images/cards/JS.svg'>
       <img class='card' src='../static/images/cards/10S.svg'>
       <img class='card' src='../static/images/cards/9H.svg'>
       <img class='card' src='../static/images/cards/3H.svg'>
       <img class='card' src='../static/images/cards/10D.svg'>
       <img class='card' src='../static/images/cards/4D.svg'>
       <img class='card' src='../static/images/cards/2D.svg'>
       <img class='card' src='../static/images/cards/8C.svg'>
       <img class='card' src='../static/images/cards/7C.svg'>
       <img class='card' src='../static/images/cards/6C.svg'>
     </div>
        <br>
     <div class="hand fan">
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
       <img class='card' src='../static/images/cards/BLUE_BACK.svg'>
    </div>
</div>

    <div><h1>Welcome to Rikkiki!</h1>
        <button id="button">Game rules</button>
        <div id="rules">
            <ol>
                <li>Aim To win the most points by accurately predicting how many tricks you'll get in each round</li>
                <li>The dealer takes a card from remaining deck and place it in the middle.</li>
                <li>Players begin to bid how many tricks they can take.</li>
                <li>Play begins: you must put same color on top of trump.</li>
                <li>The hand will be won by the highest card.</li>
                <li>If you do not have the color, you can place your trump down or place place down any card.</li>
                <li>Once all cards have been played, the dealer tallies up the score.</li>
                <li> If a player takes the exact number of tricks he bid, he receives 10 points, plus the number he bid.</li>
                <li>If a player takes any other number of tricks, he receives no points.</li>
            </ol>
        </div>
    </div>


{% endblock %}
</body>
